<!DOCTYPE html>
<html>
<head>
    <title>NeuroSkin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/common.css" >
    <link rel="stylesheet" href="/static/style/main.css" >
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/static/images/logo.svg">
    {% block additional_scripts %}{% endblock %}
</head>
<body>
    <div class="header" id="myHeader">
        <a href = "/" class = "full-button home-button">
            <img class = "header-logo" src = "/static/images/logo.svg">
            <h1>NeuroSkin</h1>
        </a>
        {% if not current_user.is_authenticated %}
        <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" class = "full-button right" onclick="openModal('loginModal')">
            <h2>Log in</h2>
        </button>
        {% else %}
            <a href = "/profile" class = "full-button right">
                <img class = "header-logo" src = "/static/images/account-logo.svg">
            </a>
        {% endif %}
    </div>
    <div id="loginModal" class="modal-overlay">
        <div class="modal-content">
            <button class="close-btn" onclick="closeModal('loginModal')">&times;</button>
            <h2>Login</h2>
            <form id="loginForm">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <p id="loginErrorMessage" class="error-message"></p>
                <input type="text" name="email" placeholder="Email address" required>
                <input type="password" name="password" placeholder="Password" required>
                <label class="checkbox" for="remember">
                    Remember me
                </label>
                <input type="checkbox" name="remember" id="remember">
                <button type="submit">Log In</button>
                <p>Don't have an account? <a href="javascript:void(0)" onclick="openModal('signupModal'); closeModal('loginModal')">Sign up</a></p>
                <p><a href="javascript:void(0)" onclick="openModal('passwordForgottenModal'); closeModal('loginModal')">Forgot password?</a></p>
            </form>
        </div>
    </div>
    <div id="signupModal" class="modal-overlay">
        <div class="modal-content">
            <button class="close-btn" onclick="closeModal('signupModal')">&times;</button>
            <h2>Sign Up</h2>
            <form id="signupForm">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <p id="signupErrorMessage" class="error-message"></p>
                <input type="text" name="email" placeholder="Email address" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Sign Up</button>
                <p>Already have an account? <a href="javascript:void(0)" onclick="openModal('loginModal'); closeModal('signupModal')">Log in</a></p>
            </form>
        </div>
    </div>
    <div id="passwordForgottenModal" class="modal-overlay">
        <div class="modal-content">
            <button class="close-btn" onclick="closeModal('passwordForgottenModal')">&times;</button>
            <h2>Password Reset</h2>
            <form id="passwordForgottenForm">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <p>Enter your email address to reset your password.</p>
                <input type="text" name="email" placeholder="Email address" required>
                <button type="submit">Send Email</button>
                <p id="passwordForgottenFeedbackMessage" class="feedback-message"></p>
            </form>
        </div>
    </div>
    <script>

        document.getElementById('loginForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const formData = new FormData(e.target);
            
            const response = await fetch('/login', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();

            if (result.status === "Success") {
                location.reload();
            } else {
                const errorMsg = document.getElementById('loginErrorMessage');
                errorMsg.textContent = "Invalid email or password.";
                errorMsg.style.display = 'block';
            }
        });

        document.getElementById('signupForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const formData = new FormData(e.target);
            
            const response = await fetch('/signup', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();

            if (result.status === "Success") {
                location.reload();
            } else {
                const errorMsg = document.getElementById('signupErrorMessage');
                errorMsg.textContent = result.msg;
                errorMsg.style.display = 'block';
            }
        });

        document.getElementById('passwordForgottenForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const formData = new FormData(e.target);
            
            const response = await fetch('/password-reset-email', {
                method: 'POST',
                body: formData
            });

            if (response.status === 404){
                const errorMsg = document.getElementById('passwordForgottenFeedbackMessage');
                errorMsg.textContent = "An error happened, please try again.";
                errorMsg.style.display = 'block';
            }

            const result = await response.json();

            if (result.status === "Success") {
                const feedbackMsg = document.getElementById('passwordForgottenFeedbackMessage');
                feedbackMsg.textContent = result.msg;
                feedbackMsg.style.display = 'block';
            } else {
                const errorMsg = document.getElementById('passwordForgottenFeedbackMessage');
                errorMsg.textContent = "An error happened, please try again.";
                errorMsg.style.display = 'block';
            }
        });

        function openModal(id) {
            document.getElementById(id).style.display = 'flex';
        }

        function closeModal(id) {
            document.getElementById(id).style.display = 'none';
        }
    </script>
    <div class = "content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>