{% extends "common.html" %}

{% block additional_scripts %}
    <script src="/static/js/skinview3d/bundles/skinview3d.bundle.js"></script>
{% endblock %}

{% block content %}
    <h1 class="title">Saved skins</h1>
    <div class="profile-info" id = "gallery">

    </div>
    <h1 class="title">Account settings</h1>
    <div class="profile-info">
        <p><strong>Email:</strong> {{ current_user.email }}</p>
        <a href = "/logout" class="small-button red">Log out</a>
    </div>
    <div class="profile-info">
        <p><strong>Tokens Remaining:</strong> {{ tokens_remaining }}</p>
    </div>

    <div id="deleteModal" class="modal-overlay">
        <div class="modal-content">
            <p class = "data" hidden></p>
            <button class="close-btn" onclick="closeModal('deleteModal')">&times;</button>
            <h2>Deletion confirmation</h2>
            <p>Deleting this skin will remove it from your account forever.</p>
            <button type="button" class = "submit" onclick="confirmDelete()">Confirm Deletion</button>
        </div>
    </div>

    <script>
        var csrf_token = "{{ csrf_token() }}";

        window.onload = function() {
            fetchSavedSkins();
        }

        // Example of fetching and displaying saved skins
        async function fetchSavedSkins() {
            const response = await fetch('/saved-skins/{{ current_user.id }}');
            const data = await response.json();
            const profileInfoDiv = document.getElementById('gallery');

            if (data.skins && data.skins.length > 0) {
                data.skins.forEach(skin => {
                    const skinElement = document.createElement('div');
                    skinElement.classList.add('saved-skin');
                    skinElement.id = skin;
                    skinElement.innerHTML = `
                        <div class="gallery-tile">
                            <div id="viewer-box" class = "viewer-box">
                            <canvas class = "skin-container"></canvas>
                            </div>
                            <p>${skin.split('/').pop().split('.')[0].split('_')[1]}</p>
                            <div class = "button-container">
                                <a id = "download" href = "${skin}" download = "skin.png"><button class="round-button secondary-color"><img src="/static/images/download-icon.svg" alt="Download"></button></a>
                                <a id = "edit" href = "/edit/${skin}"><button class="round-button secondary-color"><img src="/static/images/edit-icon.svg" alt="Edit"></button></a>
                                <button class="round-button red" onclick="openModal('deleteModal', '${skin}')"><img src="/static/images/delete-icon.svg" alt="Delete"></button>
                        </div>
                    `;
                    profileInfoDiv.appendChild(skinElement);
                    let skinViewer = new skinview3d.SkinViewer({
                        canvas: document.getElementsByClassName("skin-container")[document.getElementsByClassName("skin-container").length - 1],
                        width: 400,
                        height: 500,
                    });
                    skinViewer.controls.enableRotate = false;
                    skinViewer.controls.enableZoom = false;
                    skinViewer.renderPaused = true;
                    skinViewer.loadSkin(skin).then(() => {
                        skinViewer.render(); 
                    });
                });
            } else {
                if (response.status === 200) {
                    profileInfoDiv.innerHTML += '<p>You have no saved skins.</p>';
                } else {
                    profileInfoDiv.innerHTML += '<p>Error fetching saved skins.</p>';
                }
            }
        }

        async function confirmDelete() {
            const modal = document.getElementById('deleteModal');
            const dataElement = modal.querySelector('.data');
            const skin = dataElement.textContent;

            const response = await fetch('/delete-skin', {
                method: 'POST',
                headers: { 
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf_token
                },
                body: JSON.stringify({skin: skin})
            });
            
            closeModal('deleteModal');
            if(response.status === 200){
                document.getElementById(skin).remove();
            }
            else{
                alert("Error deleting skin.");
            }
        }
    </script>
{% endblock %}