{% extends "common.html" %}

{% block additional_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/skinview3d@3.4.1/bundles/skinview3d.bundle.js"></script>
{% endblock %}

{% block content %}
    <h1 class="title">Saved skins</h1>
    <div class="profile-info" id = "gallery">

    </div>
    <h1 class="title">Account settings</h1>
    <div class="profile-info">
        <p><strong>Email:</strong> {{ current_user.email }}</p>
        <a href = "/logout" class="small-button red">Log out</a>
    </div>
    <div class="profile-info">
        <p><strong>Tokens Remaining:</strong> {{ tokens_remaining }}</p>
    </div>

    <script>
        window.onload = function() {
            fetchSavedSkins();
        }

        // Example of fetching and displaying saved skins
        async function fetchSavedSkins() {
            const response = await fetch('/saved-skins/{{ current_user.id }}');
            const data = await response.json();
            const profileInfoDiv = document.getElementById('gallery');

            if (data.skins && data.skins.length > 0) {
                data.skins.forEach(skin => {
                    const skinElement = document.createElement('div');
                    skinElement.classList.add('saved-skin');
                    skinElement.innerHTML = `
                        <div class="gallery-tile">
                            <div id="viewer-box" class = "viewer-box">
                            <canvas class = "skin-container"></canvas>
                            </div>
                            <p>${skin.split('/').pop().split('.')[0].split('_')[1]}</p>
                            <div class = "button-container">
                                <a id = "download" href = "${skin}" download = "skin.png"><button class="round-button blue"><img src="/static/images/download-icon.svg" alt="Download"></button></a>
                                <button class="round-button red" onclick="deleteSkin('${skin}')"><img src="/static/images/delete-icon.svg" alt="Delete"></button>
                        </div>
                    `;
                    profileInfoDiv.appendChild(skinElement);
                    let skinViewer = new skinview3d.SkinViewer({
                        canvas: document.getElementsByClassName("skin-container")[document.getElementsByClassName("skin-container").length - 1],
                        width: 400,
                        height: 500,
                        skin: skin
                    });
                    skinViewer.controls.enableRotate = false;
                    skinViewer.controls.enableZoom = false;
                });
            } else {
                if (response.status === 200) {
                    profileInfoDiv.innerHTML += '<p>You have no saved skins.</p>';
                } else {
                    profileInfoDiv.innerHTML += '<p>Error fetching saved skins.</p>';
                }
            }
        }
    </script>
{% endblock %}