.header h1{
    margin: 0;
    padding: 0 10px;
}

.header a{
    text-decoration: none;
    color: white;
}

.header .home-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow:visible;
    color: white;
    height: 100%;
}

.header .home-button:hover{
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
}

.header{
    display:flex;
    align-items: center;
    text-align: center;
}