body { 
  font-family: sans-serif; 
  text-align: center; 
  background: #1a1a1a; 
  color: white; 
  padding: 0;
  margin: 0;
}

body, html{
  padding: 0;
  margin: 0;
}

#viewer-box { 
  position: relative;
  margin: 20px auto; 
  width: 400px; height: 500px; 
  background: #222; 
  border-radius: 10px; 
}

.loading { 
  display: none; 
  color: #ffaa00; 
}

.skin-loading{
  position: absolute;
  display: grid;
}

.dark-overlay{
  width: 100%;
  height: 100%;
  background-color: #00000055;
  border-radius: 10px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}

.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

.header {
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;
  height: 50px;
  background: #222;
  color: #f1f1f1;
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}