<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/common.css" >
</head>
<div class="header" id="myHeader">
    <a href = "/" class = "full-button home-button">
        <img class = "header-logo" src = "/static/images/logo.svg">
        <h1>NeuroSkin</h1>
    </a>
    <a href = "/log-in" class = "full-button login-button">
        <h1>Log in</h1>
    </a>
</div>

{% block content %}
{% endblock %}